.paginatorContent {
  h2 {
    // font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
  }

  a {
    color: var(--pink);
    transition: all 0.2s;
    font-weight: 600;
    font-size: 1.1875rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &:nth-child(1) {
    text-align: left;
  }

  &:nth-child(2) {
    text-align: right;
  }
}
