.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.infoContainer {
  display: flex;
  margin-top: 1.5rem;

  time, span {
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: var(--gray-500);
  }

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 0.5rem;
  }

  time,
  span:not(:last-child) {
    margin-right: 1.5rem;
  }
}