.postsContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts {
  max-width: 1120px;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 1rem;
      border-top: 1px solid var(--pink-100);
    }

    strong {
      font-size: 1.5rem;
    }

    &:hover strong{
      color: var(--pink);
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;

      transition: color 0.5s;
    }

    p {
      color: var(--gray-300);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }
  }

  button {
    margin-top: 3rem;
    background-color: transparent;
    color: var(--pink);
    border: none;
    font-size: 1.5rem;

    transition: all 0.3s;

    &:hover {
      text-decoration: underline;
    }
  }
}