.bannerContainer {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: auto;
}

.post {
  max-width: 1120px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  .postContent {
    margin-top: 3rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    p,
    ul,
    ol {
      margin: 1.5rem 0;
    }

    ul,
    ol {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

.paginator {
  margin-top: 3.75rem;
  padding: 3rem 0 5rem 0;
  border-top: 0.1px solid rgba(215, 215, 215, 0.1);

  display: flex;
  justify-content: space-between;

  .paginatorContent {
    h2 {
      // font-size: 1.5rem;
      font-weight: 400;
      padding-bottom: 0.5rem;
    }

    a {
      color: var(--pink);
      transition: all 0.2s;
      font-weight: 600;
      font-size: 1.1875rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: right;
    }
  }
}
